
@font-face {
  font-family: 'Muli';
  font-weight: 300;
  src: url('muli-light.woff2') format('woff2'),
       url('muli-light.woff') format('woff'),
       url('muli-light.ttf')  format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 400;
  src: url('muli-normal.woff2') format('woff2'),
       url('muli-normal.woff') format('woff'),
       url('muli-normal.ttf')  format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 500;
  src: url('muli-semiBold.woff2') format('woff2'),
       url('muli-semiBold.woff') format('woff'),
       url('muli-semiBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Muli';
  font-weight: 600;
  src: url('muli-bold.woff2') format('woff2'),
       url('muli-bold.woff') format('woff'),
       url('muli-bold.ttf')  format('truetype');
}
