.actions {
    display: flex;
    justify-content: space-evenly;
    span.approved {
        color: green;
    }
    span.reject {
        color: red;
    }
    ion-icon{
        cursor: pointer;
        width: 20px;
        height: 20px;
    }
}
.cursor{
    cursor: pointer;
}