*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bgBanner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('image/backgroung.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #FFFFFF;
}
.centerBox{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}
.content h1{
    font-size: 100px;
    letter-spacing: 2px;
    font-weight: bold;
}
.btn{
    margin: 40px auto;
}
.btn a{
    font-size: 25px;
    margin: 10px 30px;
    padding: 5px 40px;
    text-decoration: none;
    color: #fff;
    border-radius: 25px;
}
.btn a:nth-child(1){
    background: linear-gradient(90deg, rgba(255,153,64,1) 21%, rgba(255,153,64,1) 38%, rgba(252,52,84,1) 81%);
}
.btn a:nth-child(2){
    background: linear-gradient(270deg, rgba(255,153,64,1) 21%, rgba(255,153,64,1) 38%, rgba(252,52,84,1) 81%);
}

/* registration page */
.formWrapper{
    margin: auto;
    width: 550px;
    height: 600px;
    /* height: auto; */
    background-color: #fff;
    border-radius: 15px;
    padding: 15px;
}
.logo{
    margin: auto;
    color: #000000;
    font-size: 22px;
    text-align: center;
}

.logo img{
    width: 200px;
    height: 60px;
}
.inputWrapper{
    margin: 10px 0px;
    padding: 20px auto;
    text-align: center;
}
.inputWrapper .inputFields{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0px 15px; */
    color: #000;
    margin: 20px 10px;
}
.inputWrapper .inputFields .inputBox p{
    display: inline-block;
    margin: 0px;
}
.inputFields .inputBox{
    position: relative;
    width: 100%;
}
.inputFields .inputBox input{
    padding: 5px 10px;
    border: 0px;
    outline: none;
    border-bottom: 1px solid #253C8F;
}
.inputFields .inputBox label{
    position: absolute;
    top: 0px;
    left: 35px;
    letter-spacing: 1px;
    padding: 10px 0px;
    font-size: 14px;
    color: #7D7D7D;
    transition: .5s;
    pointer-events: none;
}
.inputFields .fullInputBox label{
    position: absolute;
    top: 0px;
    left: 5px;
    letter-spacing: 1px;
    padding: 10px 0px;
    font-size: 14px;
    color: #7D7D7D;
    transition: .5s;
    pointer-events: none;
}
.inputFields .inputBox input:focus ~ label,
.inputFields .inputBox input:valid ~ label{
    top: -20px;
    left: 25px;
    color: #7D7D7D;
    font-size: 10px;
}
.inputFields .inputBox select:focus ~ label,
.inputFields .inputBox select:valid ~ label{
    top: -20px;
    left: 25px;
    color: #7D7D7D;
    font-size: 10px;
}
.inputFields .fullInputBox input:focus ~ label,
.inputFields .fullInputBox input:valid ~ label{
    top: -20px;
    left: 0px;
    color: #7D7D7D;
    font-size: 10px;
}
.inputFields .inputBox input img{
    width: 25px;
    height: 25px;
}
.inputFields .inputBox input[type='radio']{
    margin-right: 7px;
}
/* input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url('image/calendar-line.svg') no-repeat;
    width: 20px;
    height: 20px;
} */
.inputFields .inputBox select{
    appearance: none;
	outline: none;
	border: 0;
	border-bottom: solid 1px #253C8F;
	padding: 10px 15px 10px 0px;
	font-size: 15px;
	color: #000;
	background: url('image/Polygon\ 5.svg') 100% / 8% no-repeat;
    background-size: 10px;
    width: 80%;
}


.signupBtnWrapper .signBtn input[type='submit']{
    background-color: #253C8F;
    color: #fff;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 0px;
    margin-top: 10px !important;
    width: 80%;
    border-radius: 20px;
}
.nextBtnWrapper .nextBtn input[type='submit']{
        background-color: #253C8F;
        color: #fff;
        text-transform: uppercase;
        border: none;
        outline: none;
        border-radius: 5px;
        padding: 5px 0px;
        margin-top: 80px;
        width: 80%;
        border-radius: 20px;
}
.or{
    text-align: center;
    margin: 10px auto;
    font-size: 16px;
    color: #1A1A1A;
}
.or:before,
.or:after {
    background-color: #707070;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
}
.or:before {
    right: 0.5em;
    margin-left: -40%;
}
.or:after {
    left: 0.5em;
    margin-right: -40%;
}
.socialLoginWrapper{
    margin: 20px 15px;
}
.socialLoginBtn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socialLoginBtn button{
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    font-size: 12px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: bold;
    border-radius: 20px;
}
#Facebook{
    background-color: #3b5998; 
}
#LinkedIn{
    background-color: #0077B5;
}
.socialLoginBtn button img{
    margin: 0px 5px;
    width: 20px;
    height: 20px;
}
.already{
    text-align: center;
    color: #707070;
    font-size: 14px;
    margin: 10px;
    padding: 2px 0px ;
}
.already span a{
    color: #253C8F;
    font-weight: bold;
    text-decoration: none;
}
.mutiQuesWrapper{
    width: 550px;
    height: 600px;
}
.resetWrapper{
    width: 550px;
    height: 600px;
}
.loginWrapper{
    width: 550px;
    height: 600px;
}
.quesWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 15px; */
}
.ques{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.quesIcon img{
    width: 40px;
    height:  40px;
}
.quesName{
    margin-left: 5px;
}
.quesName h6{
    font-size: 12px;
    color: #000000; 
    margin: 0px;
}
.quesName p{
    font-size: 9px;
    margin: 0px;
    margin-top: 5px;
}
.arrowSign{
    font-size: 22px;
    color: #A1A1A1;
}
.quesInputWrapper{
    text-align: center;
}
.fullWidthInputBox{
    margin-top: 40px;
}
.fullWidthInputBox .inputFields{
    display: block;
    padding: 0px 45px;
    margin: 20px auto;
}
.ques1FullWidth .inputFields{
    display: block;
    padding: 0px 39px;
    margin: 20px auto;
}
.quesInputFields{
    padding: 0px 45px;
}
.fullWidthInputBox .inputFields .inputBox input{
    width: 100%;
    
}
.fullWidthInputBox .inputFields .inputBox select{
    width: 100%;
    
}
.searchBox{
    margin-top: 30px;
}
.tagWrapper{
    margin-top: 20px;
    width: 100%;
    height: 240px;
    background-color: #EFEFEF;
    border-radius: 9px;
    padding: 20px;  
}
.intrestWrapper{
    width: 100%;
    height: 238px;
    background-color: #fff;
    border-radius: 9px;
    padding: 20px;
    margin-top: -12px !important;   
    box-shadow: 0px 0px 10px #4D4D4D70; 
    overflow: scroll;
    overflow-x: hidden;
    display: none;
}

.tag{
    padding: 10px 15px;
    background-color: #E1E7FF;
    border-radius: 15px;
    font-size: 9px;
    display: inline-block;
    margin: 5px 5px;
}
.tag p{
    padding: 0px;
    margin: 0px;
    color: #484646;
    display: inline-block;
}
.tag img{
    width: 8px;
    margin: 0px 5px;
    cursor: pointer;
}
.skillList{
    width: 100%;
    height: 236px;
    background-color: #fff;
    border-radius: 9px;
    padding: 20px;
    margin-top: -12px !important;   
    box-shadow: 0px 0px 10px #4D4D4D70; 
    overflow: scroll;
    overflow-x: hidden;
    display: none;
}
.skillList ul{
    padding: 0px;
    margin: 0px;
}
.skillList ul li{
    padding: 10px;
    list-style: none;
    border-radius: 9px;
}
.skillList ul li:hover{
    background-color: #253C8F;
    color: #fff;
}
.searchBox input{
    width: 100%;
    font-size: 15px;
    border: 1px solid #253C8F;
    padding: 10px 15px;
    padding-right: 40px;
    border-radius: 9px;
    outline: none;
}
.searchBox img{
    position: relative;
    float: right;
    top: -33px;
    right: 10px;

}
.bottomBtn{
    margin: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.bottomBtn a{
    text-decoration: none;
    font-size: 15px;
    color: #253C8F;
    font-weight: bold;
}
.bottomBtn input[type='submit']{
    background-color: #253C8F;
    padding: 5px 20px;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    color: #fff;
    border-radius: 20px;
}
.tvShow{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}
.showWrapper{
    display: flex;
    /* align-items: center; */
}
.showImg img{
    width: 70px;
    height: 90px;
}
.shownameWrapper{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
}
.shownName p{
    margin: 0px;
    font-size: 10px;
    padding-bottom: 10px;
}
.addBtn{
    padding: 5px 15px;
    background-color: #253C8F;
    border-radius: 20px; 
    display: block;
    text-align: center;
    cursor: pointer;
}
.addBtn p{
    margin: 0px;
    font-size: 12px;
    display: block;
    color: #fff;
    width: auto;
}
.tag .showWrapper{
    display: flex;
    /* align-items: center; */
    
}
.tag .showImg img{
    width: 50px;
    height: 50px;
}
.tag .shownameWrapper{
    margin-left: 10px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 0px !important;
}
.tag .shownName p{
    margin: 0px;
    font-size: 10px;
    padding-bottom: 10px;
}
.tag .addBtn{
    padding: 5px;
    width: 20px;
    background-color: #253C8F;
    border-radius: 20px; 
    display: block;
    text-align: center;
    cursor: pointer;
}
.tag .addBtn p{
    margin: 0px;
    font-size: 8px;
    display: block;
    color: #fff;
    width: auto;
}
.addBtn span{
    font-size: 12px;
    font-weight: bold;
}
.heading{
    margin: 30px auto;
    text-align: center;
}
.heading h3{
    font-size: 35px;
    color: #253C8F;
    font-weight: bold;
}
.heading p{
    font-size: 16px;
    color: #4D4D4D;
    margin: 15px 20px;
}
.signinBtn{
    margin-top: 65px;
}
.forgot{
    float: right;
    margin-right: 45px;
}
.forgot a{
    text-decoration: none;
    font-size: 12px;
    color: #253C8F;
}
.loginWith{
    text-align: center;
    font-size: 18px;
    color: #1A1A1A;
    margin: 20px auto;
    font-weight: 600;
}
.floating-select{
    width: 10%;
}
.otpWrapper{
    margin: 40px auto;
    text-align: center;
}
.otpWrapper input{
    margin: 0px 5px;
    width: 53px;
    height: 70px;
    background-color: #aaaaaa2f;
    border-radius: 15px;
    border: none;
    font-size: 25px;
    color: #000;
    outline: none;
    text-transform: uppercase;
    text-align: center;
}
.resendCode p{
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: #19BCD2;
}
.verifyBtn{
    margin-top: 80px;
    text-align: center;
}
.verifyBtn input[type='submit']{
    padding: 5px 50px;
    border: none;
    background-color: #253C8F;
    border-radius: 5px;
    color: #fff;
    border-radius: 20px;
}













/* Media Query */
/* @media screen and (min-width: 768px) and (max-width: 991.98px) { 
    .formWrapper{
        height: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) { 
    .formWrapper{
        height: 520px;
    }
 } */


@media screen and (max-width: 575.98px) { 
    .content{
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #FFFFFF;
    }
    .content h1{
        font-size: 40px;
    }
    .centerBox{
        width: 100%;
        height: 100% !important;
    }
    .formWrapper{
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
    .btn{
        margin: 10px auto;
    }
    .btn a{
        font-size:20px;
        margin: 10px 80px;
        padding: 5px 40px;
        text-decoration: none;
        color: #fff;
        border-radius: 25px;
        display: block;
    }
    .ques1FullWidth .inputFields{
        display: block;
        padding: 0px 28px;
        margin: 20px auto;
    }
    .inputWrapper .inputFields .inputBox input{
        width: 85%;
    }
    .inputFields .inputBox label{
        position: absolute;
        top: 0px;
        left: 15px;
        letter-spacing: 1px;
        padding: 10px 0px;
        font-size: 10px;
        color: #7D7D7D;
        transition: .5s;
        pointer-events: none;
    }
    .inputWrapper .inputFields .inputBox input[type='radio']{
        width: 10%;
        align-items: center;
    }
    .inputWrapper .inputFields .inputBox .genImg{
        width: 12px;
    }
    .inputWrapper .inputFields .inputBox p{
        display: inline-block;
        font-size:12px;
        margin: 0px;
    }
    .socialLoginBtn button img{
        margin-left: 0px 10px;
    }
    .socialLoginBtn button{
        display: flex;
        align-items: center;
        padding: 5px;
        border: none;
        outline: none;
        width: 140px;
        height: 40px;
        font-size: 12px;
        color: #fff;
        letter-spacing: 1px;
        font-weight: bold;
    }
    .tagWrapper{
        margin-top: 20px;
        width: 100%;
        height: 220px;
        background-color: #EFEFEF;
        border-radius: 9px;
        padding: 20px;   
    }
    .showImg img{
        width: 70px;
        height: 50px;
    }
    .shownName p{
        margin: 0px;
        font-size: 8px;
        /* padding-bottom: 10px; */
    }
    .addBtn{
        padding:2px;
        background-color: #253C8F;
        border-radius: 10px; 
        display: block;
        text-align: center;
        cursor: pointer;
    }
    .addBtn p{
        margin: 0px;
        font-size: 10px;
        display: block;
        color: #fff;
        width: auto;
    }
    .addBtn span{
        font-size: 10px;
        font-weight: bold;
    }
    .intrestWrapper{
        width: 100%;
        height: 220px;
        background-color: #fff;
        border-radius: 9px;
        padding: 20px;
        margin-top: -12px !important;   
        box-shadow: 0px 0px 10px #4D4D4D70; 
        overflow: scroll;
        overflow-x: hidden;
    }
}