{
  "swagger": "2.0",
  "info": {
  "description": "This is a sample server Petstore server.  You can find out more about     Swagger at [http://swagger.io](http://swagger.io) or on [irc.freenode.net, #swagger](http://swagger.io/irc/).      For this sample, you can use the api key `special-key` to test the authorization     filters.",
  "version": "1.0.0",
  "title": "Younigems.in",
  "contact": {
    "email": "younigems.in"
  }
},
"host": "younigems.in",
"basePath":"/v1",
"schemes": [
  "https",
  "http"
],
"paths": {
  "/login": {
    "post": {
      "tags": [
        "User"
      ],
      "summary": "Login to existing user and generate Token",
      "description": "",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "in": "body",
          "name": "body",
          "description": "",
          "required": true,
          "schema": {
            "first_name":{
              "type":"string"
            },
            "last_name":{
              "type":"string"
            },
            "email":{
              "type":"string"
            },
            "password":{
              "type":"string"
            }
          }
        }
      ],
      "responses": {
        "500": {
          "description": "Internal server error"
        },
        "200":{
          "description":"Login successfull"
        }
      },
      "security": [
        {
          "petstore_auth": [
            "write:pets",
            "read:pets"
          ]
        }
      ]
    }
  },
  "/signup":{
    "post": {
      "tags": [
        "User"
      ],
      "summary": "Register a new User",
      "description": "",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "in": "body",
          "name": "body",
          "description": "Register a new User",
          "required": true,
          "schema": {
            "$ref": "#/definitions/User"
          }
        }
      ],
      "responses": {
        "500": {
          "description": "Internal server error"
        },
        "200":{
          "description":"Register successfull"
        }
      },
      "security": [
        {
          "petstore_auth": [
            "write:pets",
            "read:pets"
          ]
        }
      ]
    }
  },
  "/updateUser":{
    "post": {
      "tags": [
        "User"
      ],
      "summary": "Update User",
      "description": "",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "in": "body",
          "name": "body",
          "description": "update user",
          "required": true,
          "schema": {
            "$ref": "#/definitions/User"
          }
        }
      ],
      "responses": {
        "500": {
          "description": "Internal server error"
        },
        "200":{
          "description":"Register successfull"
        }
      },
      "security": [
        {
          "petstore_auth": [
            "write:pets",
            "read:pets"
          ]
        }
      ]
    }
  },
  "/profile/:id":{
    "post": {
      "tags": [
        "User"
      ],
      "summary": "profile Data",
      "description": "",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "in": "body",
          "name": "body",
          "description": "profile data of user",
          "required": true,
          "schema": {
            "$ref": "#/definitions/User"
          }
        }
      ],
      "responses": {
        "500": {
          "description": "Internal server error"
        },
        "200":{
          "description":"Register successfull"
        }
      },
      "security": [
        {
          "petstore_auth": [
            "write:pets",
            "read:pets"
          ]
        }
      ]
    }
  },
  "/timeline":{
    "post": {
      "tags": [
        "User"
      ],
      "summary": "User timeline",
      "description": "",
      "consumes": [
        "application/json"
      ],
      "produces": [
        "application/json"
      ],
      "parameters": [
        {
          "in": "body",
          "name": "body",
          "description": "Pet object that needs to be added to the store",
          "required": true,
          "schema": {
            "$ref": "#/definitions/User"
          }
        }
      ],
      "responses": {
        "500": {
          "description": "Internal server error"
        },
        "200":{
          "description":"Register successfull"
        }
      },
      "security": [
        {
          "petstore_auth": [
            "write:pets",
            "read:pets"
          ]
        }
      ]
    }
  }
},
"definitions":{
  "User":{
    "type": "object",
    "properties":{
      "id":{
        "type": "string",
        "format": "mongoose objectId"
      },
      "username":{
        "type": "string"
      },
      "Name":{
        "type":"string"
      },
      "email":{
        "type":"string"
      }
    }
  }
}
}